@model ProductFormModel
@{ 
    var imageIndex = 0;
}
<div class="container bg-secondary pt-lg--120">
    <div class="row">
        <div class="col-md-9">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group text-white">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter product name !">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group text-white">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Enter product Price !">
                    <span asp-validation-for="Price" class="text-danger"></span>

                </div>
                <div class="form-group text-white">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter product Description !"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="form-group text-white">
                    <label asp-for="InStockQuantity">InStockQuantity</label>
                    <input asp-for="InStockQuantity" class="form-control" placeholder="Enter product InStockQuantity !">
                    <span asp-validation-for="InStockQuantity" class="text-danger"></span>

                </div>
                <div class="form-group text-white">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="text-white" id="ImagesContainer">

                    @{
                        

                        @foreach (var image in Model.Images)
                        {
                            <div class='form-control'> ImageURL: <input type='text' name='Images[@imageIndex].ImageUrl' value="@image.ImageUrl" /> </div>

                            imageIndex++;
                        }

                        <label asp-for="Images"></label>
                        <a class="btn btn-success" onclick="AddMoreImages()">+</a>
                    }
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>

                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>
<script>
    var imageIndex = @imageIndex;

    function AddMoreImages() {
        console.log("AddMoreImages()");
        $("#ImagesContainer").append("<div class='form-control'> ImageURL: <input type='text' name='Images[" + imageIndex + "].ImageUrl' /> </div>");
        imageIndex++;
    }
</script>



